div.parsons {
  border-color: rgba(var(--pst-color-admonition-hint),1);
  background-color: rgba(var(--pst-color-admonition-hint),0.05);
}

div.parsons p.admonition-title::before {
  content: "\f044";
  color: rgba(var(--pst-color-admonition-hint),1);    
}

div.parsons p.admonition-title {
  background-color: rgba(var(--pst-color-admonition-hint),0.1);
}

.parsons-container {
  display: flex;    
}

.parsons-source {
  width: 50%;
  border: solid 1px red;
  border-radius: 5px;
  background-color: LightYellow;
  margin: 20px;
  padding: 5px;    
}

.parsons-item {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    font-family: Courier, monospace;
    font-size: 15px;
    background-color: white;
    grid-column-end: 6;
}

.parsons-target {
  width: 50%;
  border: solid 1px blue;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  background-color: LightYellow;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 40px 40px 40px  1fr 4fr;    
}

.parsons-column1 {
  border-right: solid 1px LightGrey;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 1;    
}

.parsons-column2 {
  border-right: solid 1px LightGrey;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 1;     
}

.parsons-column3 {
  border-right: solid 1px LightGrey;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 1;     
}