div.fitb {
  border-color: rgba(var(--pst-color-admonition-hint),1);
  background-color: rgba(var(--pst-color-admonition-hint),0.05);
}

div.fitb p.admonition-title::before {
  content: "\f044";
  color: rgba(var(--pst-color-admonition-hint),1);    
}

div.fitb p.admonition-title {
  background-color: rgba(var(--pst-color-admonition-hint),0.1);
}

