.prev-next-bottom {
  width: 100% !important;
  display: flex;

}

.prev-next-bottom #prev {
  width: 49% !important;
}

.prev-next-bottom #next {
  width: 49% !important;
  display: flex;
  flex-direction: row-reverse;    
}

.prev-next-bottom > a{
  color: rgba(0,0,0,.65) !important;
}

p.prevnext-label {
  display: none;
}

div.text-white > p.card-text {
    color: white;
}